*{
    font-family: "Poppins", sans-serif;

}
.banner{
    background-image: url(bgimage.avif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0px;
}

.skills-padding{
    padding: 70px 0px;
}
.card{
    margin: 10px;
}